<section>
    <h2>Create New Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div for="post-content">
          <input type="text-area" name="post-content">
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>
<script src="/javascript/add-post.js"></script>