<button type="submit" id="create-btn">Create Post</button>
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-edit post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="javascript/create-post.js"></script>