<a href="/dashboard/create-post"><button>Create Post</button></a>
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-edit post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}